Data/** 
*.gz
*.npy
.DS_Store
*.xlsx
*.pyc
\#ToDo.md
trash/*
*.pkl
__marimo__/*
out/spectrum/*
marimo_analysis.py
lib/combine_atlas.py
lib/concatenate_csv.py
lib/create_ts.py
*.txt
lib/sliding_window_per_network.py
*.png
analysis_working.ipynb
style/plotstyle.mplstyle
!/readme/*